body{
    padding: 0;
    margin: 0;
    background-image: url(https://i.pinimg.com/originals/fe/0f/2a/fe0f2a0dfa588c9764b33e8224b701ae.png);
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
}

.navegacion{
  width: 100%;
  margin-top: 3%;
  background-color: #D7BDE2;
  z-index: 100;
  position: fixed;
  overflow: hidden;
}
.navegacion ul{
  list-style: none;
}
.menu{
  margin: 0;
}
.menu > li{
  position: relative;
  display: inline-block;
}
.menu > li > a{
  display: block;
  padding: 15px 25px;
  color: black;
  font-family: cursive;
  text-decoration: none;
  font-size: 17px;
}
.menu li a:hover{
  color: #E74C3C;
  transition: all .2s;
}

main{
  padding-top: 4%;
  margin-left: 3%;
  margin-right: 3%;
}

img{
    width: 100%;
    height: 70%;
}

.container-all1{
    width: 100%;
    overflow: hidden;
    height: 350px;
    margin-bottom: 1%;
}
.slide1{
    display: flex;
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 18s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    width: 100%;
}
.item-slide2{
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}
input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}
@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

#section1{
  width: 30%;
  float: left;
}
#nota{
  margin-top: 2%;
  margin-bottom: 4%;
}

#section2{
  width: 69%;
  margin-left: 1%;
  float: right;
  margin-bottom: 5%;
}
#titulo{
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
#sub{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
.noticia{
  width: 35%;
  float: left;
}
.parrafo{
  text-align: center;
  font-size: 19px;
  margin-top: 6%;
}
.noticia2{
  width: 35%;
  float: right;
}
.noticia3{
  width: 35%;
  float: left;
  margin-top: 6%;2
}
.parrafo2{
  text-align: center;
  font-size: 19px;
  margin-top: 13%;
}

footer{
  background-color: #D7BDE2;
  margin: 0;
  width: 100%;
  padding: 4%;
  padding-top: 2%;
  clear: both;
}

#logo{
  width: 27%;
  margin: 0;
  padding-right: 5%;
  float: left;
}
#ul{
  margin: 0;
  list-style: none;

}
.link{
  font-size: 15px;
  color: black;
  text-decoration: inherit;
  font-style: normal;

}
.logo_redsocial{
  width: 3%;
  margin: 1%;

}

/* NOTE: PRODUCTOS */

h1{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  margin: 2%;
}
h2{
  font-family: 'Indie Flower', cursive;
  padding-top: 2%;
}
.section3{
  border: 2px solid #BB8FCE;
  float: left;
  margin-bottom: 2%;
}
.productos1{
  width: 25%;
  margin: 1%;
  float: right;
}
.productos{
  width: 25%;
  margin: 1%;
  margin-right: 3%;
  float: left;
}
.info{
  padding-left: 40%;
}

/* NOTE: MEDIDAS CELULAR */
@media (max-width: 700px){

  .container-all1{
    height: 120px;
  }

  #section1{
    display: none;
  }
  #section2{
    float: inherit;
    margin: 0;
    width: 100%;
  }

  /* NOTE: PRODUCTOS */

  .productos1{
    width: 30%;
  }
  .productos{
    width: 30%;
  }

}
