<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dulces Creaciones</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..//assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav class="navegacion">
        <ul class="menu">
          <li><a href="index.html">Inicio</a></li>
          <li><a href="dulce.html">Dulce</a></li>
          <li><a href="picadas.html">Picadas</a></li>
          <li><a href="cotillon.html">Cotillon</a></li>
          <li><a href="#">Desayunos</a></li>
          <li><a href="#">Regalos Personalizados</a></li>
          <li><a href="#">Contactanos</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container-all1">

        <input type="radio" id="1" name="image-slide" hidden/>
        <input type="radio" id="2" name="image-slide" hidden/>
        <input type="radio" id="3" name="image-slide" hidden/>

        <div class="slide1">

            <div class="item-slide2">
                <img src="../assets/img/1.jpg">
            </div>

            <div class="item-slide2">
              <img src="../assets/img/2.jpg">
            </div>

            <div class="item-slide2">
              <img src="../assets/img/3.jpg">
            </div>

        </div>
      </div>

        <h1>Picadas para Compartir y Regalar.</h1>

        <section class="section3">
          <img class="productos" src="../assets/img/collage9.jpg" alt="">
          <h2>Picada para dos.</h2>
          <ul>
            <li>2 copas.</li>
            <li>Aceitunas.</li>
            <li>Pan.</li>
            <li>Gricines.</li>
            <li>Jugo/Gaseosa.</li>
            <li>corazon de fiambre.</li>
          </ul>
        </section>

        <section class="section3">
          <img class="productos1" src="../assets/img/collage10.jpg" alt="">
          <h2 class="info">Picaditas de letras.</h2>
          <ul class="info">
            <li>Lata de cerveza.</li>
            <li>Variedad de fiambre (a eleccion)</li>
          </ul>
        </section>

        <section class="section3">
          <img class="productos" src="../assets/img/collage11.jpg" alt="">
          <h2>Picada.</h2>
          <ul>
            <li>Gaseosa/Jugo.</li>
            <li>Mani.</li>
            <li>Aceitunas.</li>
            <li>Gricines.</li>
            <li>Saladix.</li>
            <li>Yougurt.</li>
          </ul>
        </section>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <footer>
      <img id="logo" src="../assets/img/logo.png" alt="logo">

      <ul id="ul">
        <li> <img class="logo_redsocial" src="../assets/img/facebook.png" alt="logo"> <a class="link" href="https://www.facebook.com/Dulces-creaciones-104551381342829/?ref=page_internal">Facebook</a> </li>
        <li> <img class="logo_redsocial" src="../assets/img/instagram.png" alt="logo"> <a class="link" href="https://instagram.com/dulces_creacione.s?utm_medium=copy_link">Instagram</a> </li>
        <li> <img class="logo_redsocial" src="../assets/img//WhatsApp.png" alt="logo"> <a class="link" href="tel: +549 261 685-2616 / +549 261 342-6490">+549 261 685-2616 / +549 261 342-6490</a> </li>
        <li> <img class="logo_redsocial" src="../assets/img/gmail.png" alt="logo"> <a class="link" href="maito: dulcescreaciones68@gmail.com">dulcescreaciones68@gmail.com</a> </li>
      </ul>
    </footer>
  </body>
</html>
